
<div class="card-body">
    <div class="mb-4">
        <h4>Rólunk</h4>
        <hr>
    </div>
    <form action="/admin/about/update" method="post">
        <div class="form-group">
            <textarea class="form-control" name="body" id="body" cols="80" rows="8">{{about.body}}</textarea>
            <button type="submit" class="btn btn-success d-block mt-3">Módosít</button>
        </div>
    </form>
</div>