<footer class="py-5 bg-dark text-light text-center">
    <div class="container"> 
        <p>Copyright @2021 | Mészáros-K. Marcell</p>
    </div>
</footer>
<script src="javascripts/bootstrap.bundle.min.js"></script>