<div class="container">
    <img class="about-img" src="../../images/e-learning.jpg" alt="img">
    <div class="row my-5">
        <div class="col-12 about">
            <h2>E-Suli</h2>
            <p class="mt-3">{{about.body}}</p>
        </div>
    </div>
</div>